$font-primary: "open sans", sans-serif;
$font-secondary: "archivo", sans-serif;

$colours: (
  primary: #e5e5e5,
  secondary: #f4f3ee,
  white: #fff,
  drk-grey: #6a6a6a,
  grey: #8d8d8d,
  lgt-grey: #e2e2e2,
  pink: #c32c72,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
